:root {
  --background--: black;
}

.App {
  background-color: #fcefef;
}

/* NavBar -- Start -- */
.App .NavBar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f3cbcb;
  position: fixed;
  top: 0px;
  z-index: 1999;

  .logo {
    color: brown;
  }

  ul {
    width: 30%;
    list-style: none;

    h5 {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 20px;

      li {
        cursor: pointer;

        &:hover {
          color: brown;
        }
      }
    }
  }
}

/* NavBar -- End -- */

/* Note Found Page -- Start -- */
.App .NotFoundPage {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  z-index: 2000;
  overflow: hidden;

  iframe {
    width: 100vw;
    height: 100%;
    border: none;
    position: relative;
    background-color: #f54404;
  }

  .gif {
    /* width: auto; */
    height: 100%;
  }
}

@media (min-width: 1346px) {
  .App .NotFoundPage iframe{
    position: absolute;
    right: 0px;
    top: 0px;
  }
}

/* Note Found Page -- End -- */

/* Home -- Start -- */

.Home{
  width: 100%;
  padding-top: 90px;
}

.Home .carousel,
.HomeCarousel .carousel{
width: 100%;
height: 50vh;

img{
  width: 100%;
  height: 100%
};
}


.HomeCarousel .carousel .item{
  width: 380px;
  height: 200px;
  border: 2px solid red;
  margin: 0px 10px 0px 10px;
}

.foodList-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}

.foodList-container .btn-box{
  width: 80%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
}

.foodList-container .btn-box .btn{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  border-radius: 50%;
  color: white;
  cursor: pointer;

  &:hover{
    background-color: #f3cbcb;
  }
}

.foodList-container .foodList-box-Group{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  border: 2px solid gray;
  /* padding: 60px; */
}

.foodList-container .foodList-box-Group .foodList-box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* overflow: hidden; */
}

.foodList-container .foodList-box-Group .foodList-box .card{
  width: 10%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 2px solid black; */
}

.foodList-container .foodList-box-Group .foodList-box .card img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Home -- End -- */

/* Footer -- Start -- */

.Footer{
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #e6bcbc;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}

/* Footer -- End -- */